fastapi==0.115.0

uvicorn==0.30.6

pydantic==2.9.2

pandas==2.2.3

numpy==2.1.1

python-multipart==0.0.9

sqlalchemy==2.0.35

pytest==8.3.3

httpx==0.27.2

opencv-python==4.10.0.84

ultralytics==8.3.0

supervision==0.24.0

python-dateutil==2.9.0

uuid6==2024.7.10
